:root {
    --font-raleway-16: normal normal bold 16px/20.66px "Raleway";
    --font-raleway-24: normal normal normal 24px/28.18px "Raleway";
    --font-roboto-10: normal normal normal 10px/11.72px "Roboto";
    --font-roboto-11: normal normal normal 11px/12.89px "Roboto";
    --font-roboto-12: normal normal normal 12px/16.88px "Roboto";
    --font-roboto-14-16: normal normal normal 14px/16.41px "Roboto";
    --font-roboto-14-22: normal normal normal 14px/22.97px "Roboto";
    --font-roboto-16: normal normal normal 16px/22.5px "Roboto";
    --font-roboto-16-b: normal normal bold 16px/22.5px "Roboto";
    --font-roboto-18: normal normal normal 18px/21px "Roboto";
    --font-roboto-24: normal normal normal 24px/28.18px "Roboto";
    --font-roboto-cond-10: normal normal 400 10px/11.72px "Roboto Condensed";
    --font-roboto-cond-12: normal normal 700 12px/14.06px "Roboto Condensed";
    --font-roboto-cond-14: normal normal 700 14px/16.41px "Roboto Condensed";
    --font-roboto-cond-16: normal normal 700 16px/18.75px "Roboto Condensed";
    --font-color-red: #E41616;
    --font-color-white: white;
    --font-color-black: #000000;
    --bg-color-blue: #3969AA;
    --bg-color-news-blue: #009ADA;
    --bg-color-red: #FF5858;;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    /*padding-right: 0;*/
    /*padding-left: 0;*/
}

@media (min-width: 1200px) {
    .container {
        width: 1110px;
    }
}

.top_logo {
    background-color: #F2FCFF;
}

.top_menu {
    background: var(--bg-color-blue);
    height: 45px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: var(--bg-color-blue);
    z-index: 99;
}

.nav-link {
    display: block;
    padding: 0.65rem 0.65rem;
}

.menu {
    display: flex;
    padding: 0 12px 0 12px;
    justify-content: center;
    align-items: center;
}

.menu:hover {
    background-color: #FF5858;
    width: 100%;

}

.search_icon {
    padding: 20px 0 20px 0;
}

.f-circle {
    color: #3b5998;
    font-size: 16px;
    background: white;
    padding: 4px 0 0 0;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
}

.fa-search:before {
    color: #3b5998;
    font-size: 16px;
    padding: 0 4px 0 0;
}

.middle_top, .footer_top {
    background-color: #F2FCFF;
    padding: 30px 0 30px 0;
}
.middle_top_after, .middle_bottom {
    padding: 30px 0 30px 0;
}
.news_heading {
    color: #E41616;
    font: var(--font-raleway-16);
    text-transform: uppercase;
    position: relative;
    padding: 20px 0 0 0;
    margin: 0 0 30px 0;
}
.news_heading:after {
    display: block;
    width: 200px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #58ABD7;
    bottom: -1px;
}
.slide_row {
    min-height: 680px;
}
.slider01 {
    padding-right: 0;
    padding-left: 0;
}
.bottom_of_slide {
    background-color: #58ABD7;
    padding: 7px 0 15px 0;
}
.prev_slide, .next_slide {
    width: 6%;
}
.text_slide {
    width: 88%;
}
.head_text_to_slide {
    font: var(--font-raleway-24);
    text-transform: uppercase;
    color: white;
}
.main_text_to_slide {
    font: var(--font-roboto-16);
    color: white;
}
.infinnovation {
    position: relative;
    background: url("../img/infinnovation.png") no-repeat;
    height: 213px;
    width: 255px;
    /*background-size:100%*/
    /*background-size: 100%*/
}
.text1_1, .text1_2, .text2_1, .text3_1, .text4_1, .text5_1, .text8_1, .text8_2, .text8_3 {
    display: block;
    width: 100%;
}
.text1_1, .text1_2 {
    font: var(--font-roboto-11);
    width: 255px;
    text-align: center;
    color: white;
    background-color: rgba(48, 94, 158, 1);
    padding-top: 12px;
    mix-blend-mode: normal;
    opacity: 0.9;
}
.text1_2 {
    font: var(--font-roboto-cond-16);
    padding: 0 0 12px 0;
    text-transform: uppercase;
}
.text2_1 {
    font: var(--font-roboto-cond-14);
    text-align: left;
    text-transform: uppercase;
    color: white;
    background-color: #FF5858;
    padding: 17px 0 17px 122px;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.text3_1 {
    font: var(--font-roboto-10);
    text-align: left;
    color: white;
    background-color: rgba(48, 94, 158, 1);
    padding: 7px 0 7px 122px;
    opacity: 0.9;
}
.book {
    position: absolute;
    left: 15px;
    top: 75px;
}
.minsk {
    background: url("../img/minsk.png");
    height: 213px;
    width: 255px;
    /*background-size: 100%;*/
}
.text4_1, .text5_1 {
    font: var(--font-roboto-cond-12);
    color: white;
    background-color: #FF5858;
    opacity: 0.8;
    padding: 10px;
    text-transform: uppercase;
}
.text5_1 {
    font: var(--font-roboto-cond-12);
    color: white;
    background-color: rgba(48, 94, 158, 1);
    opacity: 0.9;
    text-align: right;
}
.main_photo {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}
.text_main_photo {
    display: block;
    box-sizing: content-box;
    position: absolute;
    color: white;
    background-color: var(--bg-color-blue);
    width: calc(100% - 15px);
    opacity: 0.9;
    left: 0;
    bottom: 0;
    padding: 15px 0 15px  15px;
}
.twentieth_april, .twenty_first_april  {
    height: 213px;
    width: 255px;
}
.twentieth_april {
    background: url('../img/20april.png');
}
.twenty_first_april {
    background: url('../img/21april.png');
}
.text7_1, .text7_2, .text7_3, .text7_4 {
    color: white;
    display: block;
    width: 255px;
    text-align: left;
}
.text7_1 {
    padding: 20px 0 0 20px;
}
.text7_3 {
    margin-top: 60px;
}
.text7_2, .text7_3, .text7_4 {
    padding: 0 0 0 20px;
    font: var(--font-roboto-14);
    text-align: left;
}
.text7_1, .text7_3 {
    font: var(--font-roboto-16-b);
    text-align: left;
}
.text7_3, .text7_4 {
    background-color: var(--bg-color-red);
    opacity: 0.8;
}
.linews {
    padding: 0 0 30px 0;
}
.text8_1 {
    font: var(--font-roboto-16-b);
    color: #009ADA;
    padding: 15px 0 15px 0;
}
.text8_2, .text8_5, .text8_8  {
    font: var(--font-roboto-12);
    padding: 0 0 15px 0;
}
.text8_3 {
    display: block;
    width: 100%;
    font: var(--font-roboto-14);
    padding: 0 0 15px 0;
}.text8_4, .text8_6, .text8_7  {
     color: #009ADA !important;
     font-family: Roboto;
     text-decoration: none;
     font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;
     color: #009ADA !important;
     display: block;
     width: 100%;
     padding: 13px 0 8px 0;
}
.text-my-color {
    color: #009ADA !important;
}
.text-my-color-white {
    color: white !important;
}
.text-my-color-black {
    color: black !important;
}
.footer_top_row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.row {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
.photof2, photof3, photof4, photof5, big_news_footer, footer_top_row_row  {
    padding-left: 0;
    padding-right: 0;
}
.col {
    padding-right: 0;
    padding-left: 0;
}
.footer {
    background: #58ABD7;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_text {
    color: white;
    font: var(--font-roboto-14);
    line-height: 33px;
}
.fourth_col{
    color:  white;
}
.footer_bottom {
    height: 30px;
    background: #3969AA;
}
.calendar {
    display: flex;
    justify-content: center;
}
.left_news .col-12 .col-xl-5 .col-lg-5 .col-md-12 .col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
}
.big_photo, .footer_logo, .top_logo_img, .photof2 {
    width: 100%;
}
.next_slide, .prev_slide {
    display: inline-block;
    cursor: pointer;
}
/*.news_heading_line::after {*/
/*    display: block;*/
/*    height: 435px;*/
/*    content: '';*/
/*    border-left: 2px solid #d21111;*/
/*    left: 150px;*/
/*    top: 10px;*/
/*}*/
/*.text_left_news, .announce, .calendar {*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*}*/
