:root {
    --font-raleway-16: normal normal bold 16px/20.66px "Raleway";
    --font-raleway-24: normal normal normal 24px/28.18px "Raleway";
    --font-roboto-10: normal normal normal 10px/11.72px "Roboto";
    --font-roboto-11: normal normal normal 11px/12.89px "Roboto";
    --font-roboto-12: normal normal normal 12px/16.88px "Roboto";
    --font-roboto-14-16: normal normal normal 14px/16.41px "Roboto";
    --font-roboto-14-22: normal normal normal 14px/22.97px "Roboto";
    --font-roboto-16: normal normal normal 16px/22.5px "Roboto";
    --font-roboto-16-b: normal normal bold 16px/22.5px "Roboto";
    --font-roboto-18: normal normal normal 18px/21px "Roboto";
    --font-roboto-24: normal normal normal 24px/28.18px "Roboto";
    --font-roboto-cond-10: normal normal 400 10px/11.72px "Roboto Condensed";
    --font-roboto-cond-12: normal normal 700 12px/14.06px "Roboto Condensed";
    --font-roboto-cond-14: normal normal 700 14px/16.41px "Roboto Condensed";
    --font-roboto-cond-16: normal normal 700 16px/18.75px "Roboto Condensed";
    --font-color-red: #E41616;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0 ;
    text-decoration: none;
    padding-right: 0;
    padding-left: 0;
}
._container_big {
    width: 1572px;
    padding-right: 0;
    padding-left: 0;
    margin: 0px auto;
}
._container_small {
    width: 1444px;
    padding-right: 0;
    padding-left: 0;
    margin: 0px auto;
}
.header__top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.header__full_screen, .middle_full_screen_background {
    background: #265785;
    min-height: 60px;
    display: flex;
}
.middle_full_screen_background {
    background: radial-gradient(47.89% 157.12% at 54.17% 59.58%, #1D97C2 0%, #217BA7 55.21%, #265785 95.06%);
}
.header__feedback {
    display: flex;
    align-items: center;
}
.block__img {
    padding-right: 13px;
    cursor: pointer;
}
.header__callback {
    display: flex;
    align-items: center;
    margin-left: 85px;
}
.block__text, .block__text1 {
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}
.block__text1 {
    font-size: 24px;
}
.nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.header__menu .bottom{
    min-height: 100px;
}
.header__menu__list, .footer__menu__list {
    list-style: none;
    height: 80px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 920px;
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
}
.menu__link, .text_registration {
    color: #000000;
    text-decoration: none;
}
.text_registration {
    color: #EF7C1E;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
}

.btn_enter {
    width: 160px;
    height: 40px;
    left: 0px;
    top: 0px;
    color: #265785;
    font-family: Roboto;
    font-size: 14px;
    background: #F9F9F9;
    border: 1px solid #CCEAFF;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}
.menu__item {
    min-height: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom : 5px solid #FFFFFF;
    border-radius: 4px 0px 4px 0px;
}
.menu__item:hover {
    color: #EFEDEE;
    border-bottom : 5px solid #EF7C1E;
    border-radius: 0px 0px 0px 0px;
}
.nav_menu li {
    width: 156px;
    padding: 0 16px 0 11px;
    border-left: 2px solid white;
}
.text_for_slider1 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading_text_for_slider1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 43.402px;
    line-height: 51px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 25px 0 110px;
    height: 170px;
    border-right: solid 2px;
}
.main_text_for_slider1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 137.19%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 46px 46px 46px 41px;
}
.heading_text_for_slider1 {
    display: flex;
    align-items: center;
}
.wrap_slider1 {
    background: url('../img/1slide_back.png') no-repeat;
    max-height: 613px;
}
.wrap_slider2 {
    background: url('../img/2slide_back.png') no-repeat;
    height: 810px;
    width: 100%;
}
.heading_task, .heading_news {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B2E4D;
    justify-content: center;
    padding: 70px 0 140px 0;
}
.cards_task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}
.task01, .task02, .task03  {
    height: 467px;
    max-width: 400px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
    align-content: space-between !important;
}
.task_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 151.19%;
    text-align: center;
    display: flex;
    align-items: center;
    color: #1B2E4D;
    margin-top: 50px;
}
.wrap_slider3{
    background: url('../img/3slide_back.png') no-repeat;
    height: 910px;
    width: 100%;
}
.slider01 .slick-dots {
    bottom: 25px;
}
.slider02 .slick-dots {
    bottom: 550px;
}
.slider03 .slick-dots {
    bottom: 650px;
}
.slider04 .slick-dots {
    bottom: 950px;
}
.slider02 ul {
    background: #99D6FF;
    max-width: fit-content;
}
/*.slider01  ul{*/
/*    display: flex;*/
/*    background: #d21111;*/
/*    max-width: fit-content;*/
/*    margin: 0 auto;*/
/*}*/
.slider01 ul li, .slider02 ul li, .slider03 ul li, slider04 ul li {
    background: #ffffff;
    border-radius: 100%;
}
.text_news {
    background: #ffffff;
}
.head_text, .news_text, .news_link {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
}
.head_text {
    color: #1B2E4D;
    text-transform: uppercase;
    padding: 20px 100px 10px 20px;
}
.news_slider {
    display: flex;
}
.news01, .news02, news03 {
    display: flex;
    max-width: 461px;
    ;
}
.news_text {
    padding: 20px 100px 20px 20px;
    font-weight: 400;
}
.news_link {
    padding: 20px 20px 10px 20px;
}
.news_link {
    text-align: right;;
}
.heading_news {
    color: #ffffff;
}
.activity01 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 90px;
}
.activity_text {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    max-width: 630px;
}
.bottom_menu {
    display: flex;
    justify-content: space-between;
}
.footer__item:hover {
    color: #EFEDEE;
    border-bottom : 5px solid #EF7C1E;
    border-radius: 0px 0px 0px 0px;
}

.contact_block_mail, .contact_block_phone {
    display: block;
    text-decoration: none;
    color: #265785 !important;;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1B2E4D;
}
.contact_block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer__link {
    color: #000000;
    text-decoration: none;
}
.fa-envelope:before {
    content: "\f0e0";
    color: #265785;
}
.fa-phone:before {
    content: "\f095";
    transform: rotateY(180deg);
    color: #265785;
}
.footer__item {
    min-height: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 5px solid #FFFFFF;
    border-radius: 4px 0px 4px 0px;
}
.footer__menu__list li {
    width: 156px;
    padding: 0 16px 0 11px;
    border-left: 2px solid white;
}
.smi, .all_right_reserved {
    display: block;
    padding: 20px 0 10px 0;
}
.smi {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(27, 46, 77, 0.7);
    justify-content: center;
}
.all_right_reserved {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(27, 46, 77, 0.7);
}
.heading_activity {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B2E4D;
    justify-content: center;
    padding: 70px 0 140px 0;
}
.middle_block {
    display: flex;
    flex-direction: column;
}
.footer_full_screen {
    color: #ece3e4;
}
.footer_logo {
    display: flex;
    align-content: center;
    align-items: center;
}

