:root {
    --font-raleway-16: normal normal bold 16px/20.66px "Raleway";
    --font-raleway-24: normal normal normal 24px/28.18px "Raleway";
    --font-roboto-10: normal normal normal 10px/11.72px "Roboto";
    --font-roboto-11: normal normal normal 11px/12.89px "Roboto";
    --font-roboto-12: normal normal normal 12px/16.88px "Roboto";
    --font-roboto-14-16: normal normal normal 14px/16.41px "Roboto";
    --font-roboto-14-22: normal normal normal 14px/22.97px "Roboto";
    --font-roboto-16: normal normal normal 16px/22.5px "Roboto";
    --font-roboto-18: normal normal normal 18px/21px "Roboto";
    --font-roboto-24: normal normal normal 24px/28.18px "Roboto";
    --font-roboto-cond-10: normal normal 400 10px/11.72px "Roboto Condensed";
    --font-roboto-cond-12: normal normal 700 12px/14.06px "Roboto Condensed";
    --font-roboto-cond-14: normal normal 700 14px/16.41px "Roboto Condensed";
    --font-roboto-cond-16: normal normal 700 16px/18.75px "Roboto Condensed";
    --font-color-red: #E41616;
    --font-color-white: white;
    --font-color-black: #000000;
    --bg-color-blue: #3969AA;
    --bg-color-news-blue: #009ADA;
    --bg-color-red: #FF5858;;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 1200px) {
    .container {
        width: 1110px;
    }
}
.top_logo {
    background-color: #F2FCFF;
}
.top_menu {
    background: var(--bg-color-blue);
    height: 45px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: var(--bg-color-blue);
    z-index: 99;
}
.nav-link {
    display: block;
    padding: 0.65rem 0.65rem;
}
.menu {
    padding: 0 12px 0 12px;
}

.menu:hover {
    background-color: #FF5858;
}
.search_icon {
    padding: 20px 0 20px 0;
}
.f-circle {
    color: #3b5998;
    font-size: 16px;
    background: white;
    padding: 4px 0 0 0;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
}
.fa-search:before {
    color: #3b5998;
    font-size: 16px;
    padding: 0 4px 0 0;
}
.middle_top {
background-color: #F2FCFF;
padding: 30px 0 30px 0;
}
.news_heading {
color: #E41616;
font: var(--font-raleway-16);
text-transform: uppercase;
position: relative;
    padding: 30px 0 0 0;
}
.news_heading:after {
display: block;
width: 200px;
content: '';
position: absolute;
border-bottom: 2px solid #58ABD7;
bottom: -1px;
}
.slide_row {
    min-height: 680px;
}
.slider01 {
    padding-right: 0;
    padding-left: 0;
}
.bottom_of_slide {
    background-color: #58ABD7;
    padding: 7px 0 30px 0;
}
.prev_slide, .next_slide {
    width: 6%;
}
.text_slide {
    width: 88%;
}
.head_text_to_slide {
    font: var(--font-raleway-24);
    text-transform: uppercase;
    color: white;
}.main_text_to_slide {
    font: var(--font-roboto-16);
    color: white;
}
.infinnovation {
    position: relative;
    background: url("../img/infinnovation.png");
    height: 213px;
    width: 255px;
    /*background-size: 100%*/
}
.text1_1, .text1_2, .text2_1, .text3_1, .text4_1, .text5_1{
    display: block;
}
.text1_1, .text1_2 {
    font: var(--font-roboto-11);
    width: 255px;
    text-align: center;
    color: white;
    background-color: rgba(48, 94, 158, 1);
    padding-top: 12px;
    mix-blend-mode: normal;
    opacity: 0.9;
}
.text1_2 {
    font: var(--font-roboto-cond-16);
    padding: 0 0 12px 0;
    text-transform: uppercase;
}
.text2_1 {
    font: var(--font-roboto-cond-14);
    text-align: left;
    text-transform: uppercase;
    color: white;
    background-color: #FF5858;
    padding: 17px 0 17px 122px;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.text3_1 {
    font: var(--font-roboto-10);
    text-align: left;
    color: white;
    background-color: rgba(48, 94, 158, 1);
    padding: 7px 0 7px 122px;
    opacity: 0.9;
}
.book {
    position: absolute;
    left: 15px;
    top: 75px;
}
.minsk {
    background: url("../img/minsk.png");
    height: 213px;
    width: 255px;
    /*background-size: 100%;*/
}
.text4_1, .text5_1 {
    font: var(--font-roboto-cond-12);
    color: white;
    background-color: #FF5858;
    opacity: 0.8;
    padding: 10px;
    text-transform: uppercase;
}
.text5_1 {
    font: var(--font-roboto-cond-12);
    color: white;
    background-color: rgba(48, 94, 158, 1);
    opacity: 0.9;
    text-align: right;
}
