@font-face {
    font-family: "Avenir Next LT Pro"; /* Гарнитура шрифта */
    src: url(../fonts/avenir.otf); /* Путь к файлу со шрифтом */
}
:root {
    --main-bg-color: #046FB7;
/*     --link-color: #EB5757; */
    --font-text: normal, normal,  14px/135,5%, Avenir Next LT Pro;
    --font-heading: normal, 700,  24px/28,8 Avenir Next LT Pro
}
*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 1420px;
}
.header {
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.header__prelogo--img {
    height: 120px;
    width: 120px;
}
.header__logo {
    margin: 33px 30.22% 16px 150px;
}
.header__semicircle {
    height: 37px;
    width: 65px;
    margin: 77px 0 0 0;
}
.header__semicircle_img {
    height: 100%;
    width: 100%;
}
.header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header__contact--text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #061058;
}
.header__btn {
    display: flex;
    align-items: center;
}
.header__button {
    display: flex;
}
.header__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: flex-end;
    box-sizing: border-box;
    border-radius: 4px;
    width: 245.72px;
    height: 60px;
    align-items: center;
    background: linear-gradient(0deg, #00A87C, #00A87C), linear-gradient(180deg, #EBECF0 0%, rgba(235, 236, 240, 0) 100%);
    border: 2px solid #00A87C;
}
.header__enter {
    padding: 0 40px 0  40px
}
.body__toptext {
    min-height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 33px 0 0 117px;
}
.body__corpse {
    background: url(../img/background.png);
}
.item_heading {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 133.5%;
    /* or 21px */
    text-transform: uppercase;
    color: #FFFFFF;
    width: 707px;
    display: block;
} 
.item_main {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 707px;
    display:block;
}
.list__items_volume {
    list-style: none;
    display: flex;
}
.list_items_small {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
}
.text_form {
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 133.5%;
    /* or 27px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text_form_small {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 133.5%;
    /* or 21px */
    color: #FFFFFF;
    max-width: 350px;
    display: block;
}
.button_send_div {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #FF5F79;
    justify-content: space-around;
    align-content: flex-end;
    border: 1px solid #FF5F79;
    box-sizing: border-box;
    border-radius: 4px;
    width: 253px;
    height: 40px;
    cursor: pointer
}
.btn_send {
    text-decoration: none;
    color: #FFFFFF;
}
.head_left {
    padding: 80px 0 5px 160px
}
.text_block {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #061058;
}
.right_head_div {
    display: flex;
}
.bot_div_text {
    display: flex;
}
.middle_block {
    display: flex;
}
.list__items_volume_right, .list_items_small_left_bottom {
    list-style: none
}
ul li {
    list-style: none;
    bottom: 0;
}
.text_block_green {
    color: rgba(0, 168, 124, 1);
    display: block;
    padding: 170px 0 42px 0;
    font-family: Arial;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 133.5%;
/* or 27px */
color: #00A87C;;
}
.selected_item {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 133.5%;
    padding: 0 0 16px 0;
/* or 19px */
color: #061058;
}
.list_left_bot{
    list-style: none;
    padding: 0;
}
.selected_img {
    height: 22px;
}
.text_block_right_item {
    padding: 0 0 0 30px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 133.5%;
    /* or 19px */
    color: #061058;
}
.list__items_volume_right {
    display: flex;
    padding: 30px;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    border-left: 4px solid rgba(201, 210, 243, 1);
    margin: -5px 0;
}
.days {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
}
.days_list {
    display: flex;
}
.text_form_left_bottom_head {
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 133.5%;
    /* or 24px */
    text-transform: uppercase;
    color: #061058;
}
.text_form_left_bottom {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 133.5%;
    /* or 19px */
    color: #061058;
}
.educashion_block {
    margin: 30px 0 -3px;
    border-left: 4px solid rgba(201, 210, 243, 1);
}
.footer {
    height: 80px;
    display: flex;
    background: #046FB7;
    align-content: center;
    align-items: center;
}
.env {
    height: 18.78px;
    padding: 0 0 0 120px;
}
.email {
    color: white;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.header__btn:focus {
    color:#15c596
}