:root {
  --font-roboto-14: normal normal normal 14px/135% "Roboto";
  --font-roboto-18: normal normal normal 18px/21px "Roboto";
  --font-av-14: normal normal normal 14px/17px "Avenir Next LT Pro", sans-serif;
  --font-av-14-bold: normal normal bold 14px/17px "Avenir Next LT Pro",
    sans-serif;
  --font-av-16: normal normal normal 16px/133% "Avenir Next LT Pro", sans-serif;
  --font-av-16-b: normal normal normal bold 16px/133% "AvenirNext LT Pro",
    sans-serif;
  --font-av-20-600: normal normal bold 20px/133% "Avenir Next LT Pro",
    sans-serif;
  --font-av-24-b: normal normal bold 20px/133% "Avenir Next LT Pro", sans-serif;
  --font-color-blue: #061058;
  --font-color-white: white;
}
*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  padding-right: 0px;
  padding-left: 0px;
}
.row {
  margin: 0;
}
.img {
  width: 100%;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__semicircle {
  align-items: flex-end;
  justify-content: flex-end;
}
.header__contact {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.quartercircle {
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
}
.header__contact--text {
  font: var(--font-av-14-bold);
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #061058;
}
.button_enter {
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.button_enter_form {
  align-items: center;
}
.body_top {
  background: #046fb7;
}
.left_block {
  background: url("../img/left_angle.svg") no-repeat;
}
.list__items_volume {
  justify-content: space-evenly;
  padding: 0 0 40px 0;
}
.list_items_small {
  flex-direction: column;
  align-items: flex-start;
}
.text_form_small {
  font: var(--font-av-16);
  color: #ffffff;
}
.text_form {
  font: var(--font-av-20-600);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.item_heading_top {
  font: var(--font-av-16);
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding: 40px 0 11px 0;
}
.item_main {
  font: var(--font-av-24-b);
  line-height: 38px;
  display: block;
  max-width: 707px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 30px 0;
}
.item_heading {
  font: var(--font-av-16);
  color: #ffffff;
  width: 690px;
  display: block;
  padding: 0 0 27px 0;
}
.body__item {
  padding: 0 0 0 90px;
}
