@charset "UTF-8";
.str3 {stroke:white;stroke-miterlimit:22.9256;stroke-opacity:0.039216}
.str2 {stroke:white;stroke-width:1.19;stroke-miterlimit:22.9256;stroke-opacity:0.039216}
.str1 {stroke:white;stroke-width:1.47;stroke-miterlimit:22.9256;stroke-opacity:0.200000}
.str0 {stroke:white;stroke-miterlimit:22.9256;stroke-opacity:0.200000}
.str4 {stroke:white;stroke-miterlimit:22.9256}
.fil1 {fill:none}
.fil0 {fill:none}
.fil4 {fill:white;fill-rule:nonzero}
.fil2 {fill:white;fill-rule:nonzero;fill-opacity:0.039216}
.fil3 {fill:white;fill-rule:nonzero;fill-opacity:0.200000}
